.banner{
    background-image: url("../img/Banner.jpg");
    padding: 25%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#242424 ;
    opacity: 0.5;
    z-index: -1;
}
.menucolor{
    background-color: rgb(4, 109, 39);
}

.banner2{
    background-image: url("../img/banner2.avif");
    padding: 25%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.banner2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#242424 ;
    opacity: 0.5;
    z-index: -1;
}