.banner{
    background-image: url("../img/Banner.jpg");
    padding: 25%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    opacity: 0.5;
    z-index: -1;
}

.menucolor{
    background-color: #28A258;
}

.banner2{
    background-image: url("../img/Banner2.jpg");
    padding: 25%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.banner2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    opacity: 0.5;
    z-index: -1;
}